* { margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    text-size-adjust:none ;
    -webkit-text-size-adjust:none ;
}

.qr_body {
    background-image: url('/portal_qr_gen/static/src/img/gr_background.png');


    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: hsl(212, 45%, 89%); */
    display: grid;
    place-items: center;
    margin-top: 4cm;
}

.qr_container {
    position: relative !important;
    top: -72px !important;
    background-color:hsl(0, 0%, 100%);
    width: 370px;
    height: 585px;
    /* width: 420px;
    height: 692px;   */
    text-align: center;
    padding: 20px;
    border-radius:40px;
      
}

/*.qr_container .image_content{
     background-image: url('/portal_qr_gen/static/src/img/musab.svg');
}*/

.qr_container .logo_content{
     position: relative !important;
    top: 136px !important;
}

.qr_container .gr_content {
    position: relative !important;
    top: 125px !important;
}

/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */