.font {
    font-family: 'traditional_arabic';
    ;
    /* font-weight: 100;
    font-size: 13px; */
}

@font-face {
    font-family: 'DroidArabicKufiBold';
    src: url('/orange_report/static/src/fonts/DroidKufi-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DroidArabicKufiRegular';
    src: url('/orange_report/static/src/fonts/DroidKufi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.arabic {
    font-family: DroidArabicKufiRegular !important;



}

.vertical {
    writing-mode:tb-rl;
    margin-left: -50px;
    margin-top: -69px;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform:rotate(90deg);
    transform: rotate(90deg);
    white-space:nowrap;
    display: block;
    width: 30px !important;
    height: 170px !important;
    /* bottom:0 !important; */
    /* left: 0 !important; */
    /* width:20px; */
    /* height:20px; */
}

.vertical-rtl{
        writing-mode:tb-rl;
        margin-left: -80px;
        margin-top: -69px;
        -webkit-transform:rotate(-90deg);
        -moz-transform:rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform:rotate(-90deg);
        transform: rotate(-90deg);
        white-space:nowrap;
        display: block;
        width: 30px !important;
        height: 170px !important;
        /* bottom:0 !important; */
        /* left: 0 !important; */
        /* width:20px; */
        /* height:20px; */

}
.vertical-container{
    height: 160px !important;
    border-top: 3px solid #ff8c00; 
    border-bottom: 3px solid black; 
    border-left: 3px solid black; 
    border-right: 3px solid #ff8c00;
}